/******************************************
*  Author : Author   
*  Created On : Sat Nov 17 2018
*  File : style.css
*******************************************/
body {
    font-family: sans-serif;
}

/* barra del titolo */
#titolo {
    background: black;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    text-align: center;
}
#titolo h1 {
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}
/* FINE barra del titolo */

/* stati */
.stato {
    /* nasconde tutti gli stati di default */
    display: none;
    background: rgb(233, 233, 233);
    position: fixed;
    top: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

/* HOME */
.stato#stato-home #versione {
    margin-top: 60px;
}
.stato#stato-home .button#crea {
    margin-top: 60%;
}
/* FINE HOME */

/* GARA */
.stato#stato-gara {
}
#atleti {
    margin-bottom: 30px;
}
/* atleta */
.atleta {
    background: rgb(199, 199, 199);
    border-bottom: 1px solid grey;
}
.info-atleta {
    padding: 5px;
    text-align: left;
}
.info-atleta .nome {
    font-weight: bold;
}
.info-atleta .eta-sesso {
    float: right;
}
.info-atleta .eta {
}
.info-atleta .sesso {
    border-left: 1px solid black;
    padding-left: 5px;
}
.info-atleta div {
    display: inline-block;
}
.avanzamento {

}
.avanzamento .barra {
    height: 10px;
    background: red;
    /* va impostato a 0 */
    width: 0%;
}
/* FINE atleta */
/* FINE GARA */


.button {
    background: grey;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}
